
@{
    ViewData["Title"] = "Spaces";
}

<link rel="stylesheet" href="~/css/spaces-layout.css" class="style">
<link rel="stylesheet" href="~/css/swiper.min.css">
<script src="~/js/swiper.min.js"></script>
<div class="bannar"></div>

<!--========== Spaces Page  ===========-->

<h2 class="package-heading">Single Desk</h2>
<div class="outter-section">
    <div class="image-section">
        <div class="swiper-container gallery-top gallery-top-one">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(/images/image_06.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_02.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_01.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_04.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_03.jpg)"></div>
            </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>

        <div class="swiper-container gallery-thumbs gallery-thumbs-one">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(/images/image_06.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_02.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_01.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_04.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_03.jpg)"></div>
            </div>
        </div>
    </div>
    <div class="inner-section">
        <ul class="inner-text">
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
        </ul>
        <ul class="inner-text">
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
        </ul>
        <div class="enquire"><a href=''>Enquire</a></div>
    </div>
</div>

<h2 class="package-heading">Large Desk</h2>
<div class="outter-section">
    <div class="image-section">
        <div class="swiper-container gallery-top gallery-top-two">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(/images/image_06.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_02.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_01.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_04.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_03.jpg)"></div>
            </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs gallery-thumbs-two">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(/images/image_06.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_02.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_01.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_04.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_03.jpg)"></div>
            </div>
        </div>
    </div>

    <div class="inner-section">
        <ul class="inner-text">
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
        </ul>
        <ul class="inner-text">
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
        </ul>
        <div class="enquire"><a href=''>Enquire</a></div>
    </div>

</div>


<h2 class="package-heading">Area</h2>
<div class="outter-section">

    <div class="image-section">


        <div class="swiper-container gallery-top gallery-top-three">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(/images/image_06.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_02.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_01.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_04.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_03.jpg)"></div>
            </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>

        <div class="swiper-container gallery-thumbs gallery-thumbs-three">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(/images/image_06.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_02.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_01.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_04.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(/images/image_03.jpg)"></div>
            </div>
        </div>

    </div>


    <div class="inner-section">
        <ul class="inner-text">
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
        </ul>

        <ul class="inner-text">
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
            <li>- Lorem ipsum dolor sit amet</li>
        </ul>
        <div class="enquire"><a href=''>Enquire</a></div>
    </div>
</div>




<!-- ------------ OUR SPACE ------------ -->


<h2 class="amenaties-head">Amenaties</h2>
<div class="our-space">


    <div class="space-box">
        <img src="icons/icons8-meeting-room-100.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
            similique ipsa natus minus consequatur nihil maxime
        </p>
    </div>

    <div class="space-box">
        <img src="icons/icons8-room-finder-160.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
            similique ipsa natus minus consequatur nihil maxime
        </p>
    </div>

    <div class="space-box">
        <img src="icons/icons8-check-lock-100.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
            similique ipsa natus minus consequatur nihil maxime
        </p>
    </div>

    <div class="space-box">
        <img src="icons/icons8-wi-fi-52.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
            similique ipsa natus minus consequatur nihil maxime
        </p>
    </div>

    <div class="space-box">
        <img src="icons/icons8-dining-room-128.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
            similique ipsa natus minus consequatur nihil maxime
        </p>
    </div>

    <div class="space-box">
        <img src="icons/icons8-sea-waves-100.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
            similique ipsa natus minus consequatur nihil maxime
        </p>
    </div>
    <div class="space-box">
        <img src="icons/icons8-housekeeping-100.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
            similique ipsa natus minus consequatur nihil maxime
        </p>
    </div>

    <div class="space-box">
        <img src="icons/icons8-garage-door-100.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
            similique ipsa natus minus consequatur nihil maxime
        </p>
    </div>

    <div class="space-box">
        <img src="icons/icons8-home-office-100.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
            similique ipsa natus minus consequatur nihil maxime
        </p>
    </div>

    <div class="space-box">
        <img src="icons/icons8-last-24-hours-100.png">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
            similique ipsa natus minus consequatur nihil maxime
        </p>
    </div>

</div>

<script src="~/js/swiper-init.js"></script>
