<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
    </style>
</head>
<body>
    <main>
        <div class="container" id="space-container">
            <div class="row">
                <div class="col s12">
                    <h3>CoWork Floor Space</h3>
                    <p>....</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h4>Floor Spaces</h4>
                    <table class="striped" id="spaces-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Space Name</th>
                                <th>Details</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0</td>
                                <td>Meeting Room</td>
                                <td>Projector, Available for 1 hr bookings</td>
                                <td>
                                    <input type="checkbox" class="filled-in" checked="checked"/><span>Available</span>
                                </td>
                                <td>
                                    <button data-user-id="1" class="waves-effect waves-light btn">Select</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <h4>Add/Edit Spaces</h4>
                <form class="col s12">
                    <input type="hidden" name="Id" id="Id" />
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Name" name="Name" id="Name" type="text">
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Details" name="Details" id="Details" type="text">
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">Save</button>
                    <button class="btn waves-effect" id="clearButton">Clear</button>
                </form>
            </div>
        </div>
    </main>



    <script>

        const spacesData = document.querySelector('#spaces-table tbody');
        const idElem = document.querySelector('input[name="Id"]');
        const nameElem = document.querySelector('input[name="Name"]');
        const detailsElem = document.querySelector('input[name="Details"]');

        const onDelete = (evt) => {

        }

        const onSelect = (evt) => {

        }

        const onSave = (evt) => {

        }


        const getAll = () => {
            spacesData.innerHTML = '';

            fetch('/api/Products')
                .then(res => res.json())
                .then(products => {

                    products.forEach(product => {
                        const spaceIdCell = document.createElement('td');
                        const nameCell = document.createElement('td');
                        const detailsCell = document.createElement('td');
                        const action1Cell = document.createElement('td');
                        const action2Cell = document.createElement('td');
                        spaceIdCell.innerText = product.id;
                        console.log(spaceIdCell);
                        nameCell.innerText = product.name;
                        detailsCell.innerText = product.details;
                        const updateBox = document.createElement('input');
                        const selectBtn = document.createElement('button');
                        updateBox.innerText = 'Available';
                        updateBox.setAttribute('data-space-id', product.id);
                        updateBox.className = 'filled-in';
                        updateBox.setAttribute('type', checkbox);
                        updateBox.addEventListener('click', onUpdate);
                        selectBtn.innerText = 'Select';
                        selectBtn.setAttribute('data-space-id', product.id);
                        selectBtn.className = 'waves-effect waves-light btn';
                        selectBtn.addEventListener('click', onSelect);
                        action1Cell.appendChild(updateBox);
                        action2Cell.appendChild(selectBtn);
                        const row = document.createElement('tr');
                        row.appendChild(spaceIdCell);
                        row.appendChild(nameCell);
                        row.appendChild(detailsCell);
                        row.appendChild(action1Cell);
                        row.appendChild(action2Cell);
                        spacesData.appendChild(row);
                    })
                })
                .catch(err => {
                    console.log("Error Loading Product table");
                })
        }

        const getDetails = (prodId) => {
            fetch('/api/Products/${prodId}')
                .then(res => res.json())
                .then(product => {
                    console.log(product);
                })
                .catch(err => {

                })

        }

        const addNew = (prodName,prodDetails) => {

            const body = {
                name: prodName,
                details: prodDetails
            }

            const fetchOpt =
            {
                body: JSON.stringify(body),
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            };

            fetch('/api/Products',fetchOpt)
                .then(res => res.json())
                .then(() => {
                    console.log('Space added');
                })
                .catch(err => {

                })

        }

        const updateExisting = (prodId,prodName,prodDetails) => {

            const body = {
                id: prodId,
                name: prodName,
                details: prodDetails
            }

            const fetchOpt =
            {
                body: JSON.stringify(body),
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                }
            };

            fetch('/api/Products/${id}', fetchOpt)
                .then(res => res.json())
                .then(() => {
                    console.log('Spaces updated');
                })
                .catch(err => {

                })

        }

        const deleteExisting = (id) => {

            const fetchOpt =
            {
                method: 'DELETE'
            };

            fetch('/api/Products/${id}', fetchOpt)
                .then(res => res.json())
                .then(() => {
                    console.log('Space deleted');
                })
                .catch(err => {

                })
        }

        const clearForm = () => {
            idElem = "";
            nameElem = "";
            detailsElem = "";
        }

        getAll();

    </script>
</body>
</html>


