<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
    </style>
</head>
<body>
    <main>
        
    </main>



    <h1>Griffins Stuff</h1>

    <p>....</p><br />

    @Html.Partial("_UsersForm");



    <script>


        

    </script>
</body>
</html>


