@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@page
@{
}
<section class="login-section">
    <form action="/Login/Login" method="POST">
        <label for="Email">Email</label>
        <input type="text" name="Email" id="Email" />
        <label for="Password">Password</label>
        <input type="password" name="Password" id="Password" />
        <input type="submit" value="Login" />
    </form>
</section>
