
.hero-blog {
    display: flex;
    justify-content: center;
    position: relative;
    height: 600px;
    background-image: url(/images/bgbanner4.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: saturate(0.7);
}

.blog-header {
    position: absolute;
    top: 30px;
    color: white;
    font-family: Roboto Slab, sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 3px 10px black;
    border-bottom: 6px solid crimson;
}

.hero-blog-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 250px;
    width: 95%;
    max-width: 1000px;
    height: fit-content;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0px 1px 3px gray;
    border-radius: 5px;
}

.hero-blog-inner {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    min-height: 300px;
    padding: 40px 0px 20px 0px;
    width: 100%;
    max-width: 380px;
    text-align: left;
    align-items: baseline;
}

.featured-tag {
    color: crimson;
    font-family: Roboto Slab, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}

    .featured-tag > i {
        padding-left: 4px;
    }

.hero-blog-inner > span {
    padding: 0px 20px;
    color: grey;
    width: 100%;
}

    .hero-blog-inner > span > i {
        padding-right: 10px;
    }

.hero-blog-inner > h2 {
    padding: 5px 20px;
    font-family: Roboto Slab, sans-serif;
    line-height: 1.3;
    width: 100%;
}

.hero-blog-inner > p {
    padding: 10px 20px;
    color: grey;
    font-size: 14px;
    width: 100%;
}

.hero-blog-inner > a {
    padding: 10px 20px;
    border: 2px solid slategray;
    text-decoration: none;
    margin: 20px 0px 20px 20px;
    color: slategray;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    outline: none;
}

    .hero-blog-inner > a:hover {
        color: black;
        border-color: black;
    }
/* ======================================================= */
.blog-gallery {
    display: relative;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
}

.blog-container {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(/images/dollarsigns.jpeg);
    background-size: cover;
    background-position: center;
    margin: 100px auto 150px;
    width: 100%;
    max-width: 500px;
}

.bg-img {
    position: absolute;
    width: 100%;
    max-height: 370px;
}

.blog-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 180px;
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0px 1px 3px gray;
    border-radius: 5px;
}

    .blog-box:hover {
        transform: scale(1.01);
        box-shadow: 0px 4px 10px gray;
        transition: all 0.4s;
    }

.blog-inner {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    min-height: 300px;
    padding: 40px 0px 20px 0px;
    width: 100%;
    max-width: 380px;
    text-align: left;
    align-items: baseline;
}

.featured-tag {
    color: crimson;
    font-family: Roboto Slab, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}

    .featured-tag > i {
        padding-left: 4px;
    }

.blog-inner > span {
    font-size: 12px;
    padding: 0px 20px;
    color: grey;
    max-width: 380px;
    width: 100%;
}

    .blog-inner > span > i {
        padding-right: 10px;
    }

.blog-inner > h2 {
    padding: 5px 20px;
    font-family: Roboto Slab, sans-serif;
    font-size: 24px;
    line-height: 1.3;
    max-width: 380px;
    width: 100%;
}

.blog-inner > p {
    padding: 10px 20px;
    color: grey;
    font-size: 14px;
    max-width: 380px;
    width: 100%;
}

.blog-inner > button {
    padding: 10px 20px;
    border: 2px solid slategray;
    text-decoration: none;
    margin: 20px 0px 20px 20px;
    color: slategray;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    outline: none;
}

.blog-inner > button:hover {
    color: black;
    border-color: black;
}
    .blog-inner > button:focus {
        color: crimson;
        border-color: crimson;
    }


@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

    .hero-blog-inner {
        width: 80%;
        max-width: none;
    }

        .hero-blog-inner > h2 {
            font-size: 36px;
        }

        .hero-blog-inner > p {
            font-size: 18px;
        }

    .blog-container {
        margin: 100px auto 250px;
    }

    .blog-gallery {
        max-width: 1000px;
        margin: 0 auto
    }

        .blog-gallery > :nth-child(1),
        .blog-gallery > :nth-child(2),
        .blog-gallery > :nth-child(4),
        .blog-gallery > :nth-child(5),
        .blog-gallery > :nth-child(7),
        .blog-gallery > :nth-child(8) {
            width: 45%;
        }

        .blog-gallery > :nth-child(3),
        .blog-gallery > :nth-child(6),
        .blog-gallery > :nth-child(9) {
            width: 90%;
            max-width: none;
            margin: 0px auto 125px;
        }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .blog-gallery {
        max-width: 1400px;
    }

        .blog-gallery > :nth-child(1),
        .blog-gallery > :nth-child(2),
        .blog-gallery > :nth-child(3) {
            width: 33%;
            margin: 60px auto 120px;
            max-width: 400px;
        }

        .blog-gallery > :nth-child(4),
        .blog-gallery > :nth-child(7) {
            width: 60%;
            margin: 140px auto 120px;
            max-width: 700px;
        }

        .blog-gallery > :nth-child(5),
        .blog-gallery > :nth-child(6) {
            width: 40%;
            margin: 140px auto 120px;
            max-width: 800px;
        }
}


