/* ALERTS AND POPUP SPECIALS STYLES */
/* SLogan and culture section styles */


/* ALERT LINE STYLES */
.alert-line {
    width: 100vw;
    height: 30px;
    background-color: steelblue;
    overflow: hidden;
}

.alert-content {
    padding-top: 3px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    animation: alerts 40s linear infinite;
}

    .alert-content i {
        color: red;
        font-size: 1.4em;
    }

    .alert-content h3 {
        padding: 0 5px;
        min-width: 100px;
    }

    .alert-content p {
        line-height: 1.5em;
        color: #fff;
    }

@keyframes alerts {
    0% {
        transform: translateX(80%)
    }

    50% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(-80%)
    }
}

/* Slogan section */
.slogan-section {
    width: 100vw;
    height: 50vh;
    /* background: linear-gradient(90deg,steelblue,#fff,steelblue); */
}

    .slogan-section > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 60vw;
        height: 100%;
        margin: auto auto;
    }

        .slogan-section > div > div {
            display: flex;
            flex-direction: row;
            margin: auto auto;
            padding: 0;
        }

            .slogan-section > div > div > i {
                color: rgb(43, 81, 112);
                font-size: 2em;
                padding: 0 10px;
            }

            .slogan-section > div > div > p {
                color: rgb(43, 81, 112);
                font-size: 1.5em;
                line-height: 1.5em;
                margin: auto auto;
            }

.tour-btn {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    background-image: linear-gradient(steelblue, rgb(43, 81, 112));
    padding: 10px 20px;
    margin: auto auto;
    margin-top: -20px;
    border-radius: 20px;
}

    .tour-btn:hover {
        cursor: pointer;
        background-image: linear-gradient(rgb(43, 81, 112),steelblue);
    }


/* CULTURE BOX FRONT PAGE */

.culture-container {
    width: 100%;
}

.culture-box {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}

    .culture-box div {
        width: 90vw;
        height: 50vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .culture-box > div > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .culture-box > div > div {
        width: 50%;
    }

        .culture-box > div > div > .inner-text {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            margin: auto auto;
        }

    .culture-box > .content-box > .text-box > .inner-text > h3 {
        color: rgb(43, 81, 112);
        margin: 0 0 5% 0;
        padding: 0;
        font-weight: bold;
        font-size: 1.8em;
        line-height: 1em;
    }

.p1 {
    color: steelblue;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.4em;
    padding-bottom: 10px;
}

.p2 {
    color: rgb(43, 81, 112);
    line-height: 1.5em;
    margin: 0;
}

/* Inclusive section styling */
.inclusive-section {
    width: 100vw;
    height: 60vh;
}

    .inclusive-section .inclusive-container {
        width: 80vw;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }

.inc-content {
    width: 90%;
    height: 100%;
    margin: auto auto;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(4,100px);
    text-align: left;
}

.inclusive-container h1 {
    color: rgb(43, 81, 112);
    font-size: 2em;
    font-weight: bold;
    padding: 10px 0;
}

.inclusive-container #divider {
    width: 100%;
    height: 4px;
    margin: 0 auto;
    background-color: rgb(43, 81, 112);
}

.inc-content p {
    align-self: center;
    font-size: 1.2em;
    padding-left: 30px;
}

    .inc-content p > i {
        color: steelblue;
        font-size: 1.3em;
        padding-right: 15px;
    }


/* Get Started Section Style */
.getstarted {
    width: 100vw;
    height: 50vh;
}

    .getstarted .getstarted-container {
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)),url(/images/happy-team2b.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    }

    .getstarted > .getstarted-container > .start-box {
        width: 50%;
        height: 100%;
        margin: auto auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

.start-box > #divider {
    width: 400px;
    height: 3px;
    background-color: #fff;
}

.start-box > h1 {
    font-size: 1.9em;
    color: #fff;
}

.start-box > h3 {
    color: #fff;
    font-size: 1.3em;
    padding-top: 30px;
    padding-bottom: 20px;
}

.start-box > p {
    color: #fff;
    font-size: 1.3em;
    padding-bottom: 40px;
}

.enquire-btn {
    width: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    background-image: linear-gradient(steelblue, rgb(43, 81, 112));
    padding: 10px 8px;
    border-radius: 20px;
    margin: 0 auto;
}

    .enquire-btn:hover {
        cursor: pointer;
        background-image: linear-gradient(rgb(43, 81, 112),steelblue);
    }




.section-divider {
    width: 100vw;
    height: 5vh;
}



/* MEDIA QUERY */
@media (max-width: 1450px) {
    .inclusive-section .inclusive-container {
        width: 100vw;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .inc-content {
        width: 100%;
        grid-template-rows: repeat(4,80px);
    }

    .inclusive-container h1 {
        font-size: 1.6em;
        font-weight: bold;
    }

    .inclusive-container #divider {
        width: 100%;
        height: 4px;
        background-color: rgb(43, 81, 112);
    }

    .inc-content p {
        font-size: 1.1em;
        padding-left: 20px;
    }

        .inc-content p > i {
            color: steelblue;
            font-size: 1.3em;
            padding-right: 15px;
        }
}




/* MEDIA QUERY */

@media (max-width: 1280px) {
    .culture-box div {
        height: 80vh;
    }
}

@media (max-width: 920px) {
    .slogan-section > div {
        width: 90vw;
    }

    .culture-box > div {
        width: 100vw;
    }

        .culture-box > div > #img {
            width: 40vw;
        }

    .culture-box > .content-box > .text-box {
        width: 60vw;
    }

    .culture-box > div > div > .inner-text {
        overflow: scroll;
        height: 100%;
    }
}

@media (max-width: 770px) {
    .slogan-section > div > div > p {
        font-size: 1em;
    }

    .slogan-section > div > div > i {
        font-size: 1.2em;
    }

    .culture-box div {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .culture-box > div > #img {
        width: 100%;
        height: 50vh;
    }

    .culture-box > .content-box > .text-box {
        width: 100vw;
        height: 30vh;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: auto auto;
    }

    .inner-text {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        text-align: center;
    }

        .inner-text h3 {
            padding-bottom: 30px;
        }

        .inner-text p {
            color: steelblue;
        }

        .inner-text .p2 {
            display: none;
        }

    #content-box2 {
        width: 100%;
        height: 100vh;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
    }

        #content-box2 #img {
            height: 50vh;
        }

            #content-box2 #img > img {
                height: 50vh;
                object-fit: cover;
            }

    .inclusive-section {
        height: 80vh;
        padding-bottom: 30px;
    }

    .inc-content {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(5,auto);
    }

}

@media (max-width:550px) {
    .culture-box > .content-box > .text-box {
        height: 30vh;
    }

    .inner-text h3 {
        font-size: 1em;
    }

    .inner-text p {
        font-size: 1em;
    }

    .getstarted > .getstarted-container > .start-box {
        width: 100%;
    }

}
