
@Html.Partial("_IndexHeroSlider")


<section class="slogan-section">
        <div>
            <div>
                <i class="fa fa-quote-right fa-flip-horizontal"></i>
                <p>
                    What we realised, is we need a new way to work - An environment that supports our productivity and quality of life.
                    You need a personal work solution, with easy access to home, the beach and the City.
                </p>
                <i class="fa fa-quote-right"></i>
            </div>
            <input class="tour-btn" type="button" name="tour-btn" value="Book a tour">
        </div>
</section>

    <section class="culture-container">
        <div class="culture-box">
            <div class="content-box">
                <div id="img">
                    <img src="/images/people3.jpg" alt="">
                </div>
                <div class="text-box">
                    <div class="inner-text">
                        <h3>The Best of Both Worlds</h3>
                        <p class="p1">
                            Life and work balance are more important than ever. Many of us have discovered that we need a better way of working.
                        </p>
                        <p class="p2">
                            We enjoyed avoiding the traffic and not commuting to the City.
                            We loved the extra time at home, but we really missed the contact with others.
                            We found Zoom meetings were okay, but they did not give us that nurturing warmth we got from meeting in person.
                            We are social beings and work best in the company of other friendly people.
                            What we realised, is we need a new way to work - An environment that supports our productivity and quality of life.
                            You need a personal work solution, with easy access to home, the beach and the City.
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-box" id="content-box2">
                <div class="text-box">
                    <div class="inner-text">
                        <h3>Nurturing and Safe Space</h3>
                        <p class="p1">
                            Cowork 454 has redesigned the Coworking experience to create a new ideal balance of convenience, safety, accessibility and value.
                        </p>
                        <p class="p2">
                            Cowork 454 gives you dedicated oversized personal desks or offices for your exclusive use in a spacious and safe space. Huge open areas and large desks give you extra personal space.
                            Cowork 454 is friendly and owner operated - We want the people who join our community to thrive and enjoy coming to work and enjoy the support of the environment.
                            Our emphasis is on keeping you safe and secure in a happy and supportive work environment
                            Cowork 454 is a motivating environment to maximise your potential.
                        </p>
                    </div>
                </div>
                <div id="img">
                    <img src="/images/people3.jpg" alt="">
                </div>
            </div>
            <div class="content-box">
                <div id="img">
                    <img src="/images/people3.jpg" alt="">
                </div>
                <div class="text-box">
                    <div class="inner-text">
                        <h3>Dedicated space for your team</h3>
                        <p class="p1">
                            Reduce the risk to your organisation by securing an alternative safe work environment for a parallel work team.
                        </p>
                        <p class="p2">
                            Geographic separation of teams ensures continuity in case you need to close your City office again.
                            We can provide a work environment that is ideal for teams of up to 150 people.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<div class="our-space">
        <div class="space-box">
            <img src="/icons/icons8-housekeeping-100.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
                similique ipsa natus minus consequatur nihil maxime
            </p>
        </div>

        <div class="space-box">
            <img src="/icons/icons8-garage-door-100.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
                similique ipsa natus minus consequatur nihil maxime
            </p>
        </div>

        <div class="space-box">
            <img src="/icons/icons8-home-office-100.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
                similique ipsa natus minus consequatur nihil maxime
            </p>
        </div>

        <div class="space-box">
            <img src="/icons/icons8-last-24-hours-100.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
                similique ipsa natus minus consequatur nihil maxime
            </p>
        </div>

    </div>


    <div class="container">

        <div class="inner-left" id="teaser1">
            <div class="inner-content left-affect" id="inner-top">
                <h3>Single Desk</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit iubsdi dsf df. Fugit, officiis distinctio!
                    Temporefugit a laboriosam quod suscipit labore, porro reprehenderit eius....
                </p>
                <a onclick="contactToggle()">Enquire</a>
            </div>
            <h4>New dedicated desk only</h4>
        </div>

        <div class="inner-right" id="teaser2">
            <div class="inner-content right-affect" id="inner-mid">
                <h3>Meeting Room</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit iubsdi dsf df. Fugit, officiis distinctio!
                    Temporefugit a laboriosam quod suscipit labore, porro reprehenderit eius....
                </p>
                <a onclick="contactToggle()">Enquire</a>
            </div>
            <h4>Large single levelspace 2200M2</h4>
        </div>

        <div class="inner-left .sm-img.area" id="teaser3">
            <div class="inner-content left-affect" id="inner-bot">
                <h3>Conference Room</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit iubsdi dsf df. Fugit, officiis distinctio!
                    Temporefugit a laboriosam quod suscipit labore, porro reprehenderit eius....
                </p>
                <a onclick="contactToggle()">Enquire</a>
            </div>
            <h4>Superb Value for teams and individuals</h4>
        </div>

    </div>





