
@Html.Partial("_IndexHeroSlider")


<section class="slogan-section">
    <div>
        <div>
            <i class="fa fa-quote-right fa-flip-horizontal"></i>
            <p>
                What we realised, is we need a new way to work - An environment that supports our productivity and quality of life.
                You need a personal work solution, with easy access to home, the beach and the City.
            </p>
            <i class="fa fa-quote-right"></i>
        </div>
        <a class="tour-btn" onclick="contactToggle()">Book a tour</a>
    </div>
</section>

<section class="culture-container">
    <div class="culture-box">
        <div class="content-box">
            <div id="img">
                <img src="~/images/happy-team.jpg" alt="happy team">
            </div>
            <div class="text-box">
                <div class="inner-text">
                    <h3>The Best of Both Worlds</h3>
                    <p class="p1">
                        Life and work balance are more important than ever. Many of us have discovered that we need a better way of working.
                    </p>
                    <p class="p2">
                        We enjoyed avoiding the traffic and not commuting to the City.
                        We loved the extra time at home, but we really missed the contact with others.
                        We found Zoom meetings were okay, but they did not give us that nurturing warmth we got from meeting in person.
                        We are social beings and work best in the company of other friendly people.
                        What we realised, is we need a new way to work - An environment that supports our productivity and quality of life.
                        You need a personal work solution, with easy access to home, the beach and the City.
                    </p>
                </div>
            </div>
        </div>
        <div class="content-box" id="content-box2">
            <div class="text-box">
                <div class="inner-text">
                    <h3>Nurturing and Safe Space</h3>
                    <p class="p1">
                        Cowork 454 has redesigned the Coworking experience to create a new ideal balance of convenience, safety, accessibility and value.
                    </p>
                    <p class="p2">
                        Cowork 454 gives you dedicated oversized personal desks or offices for your exclusive use in a spacious and safe space. Huge open areas and large desks give you extra personal space.
                        Cowork 454 is friendly and owner operated - We want the people who join our community to thrive and enjoy coming to work and enjoy the support of the environment.
                        Our emphasis is on keeping you safe and secure in a happy and supportive work environment
                        Cowork 454 is a motivating environment to maximise your potential.
                    </p>
                </div>
            </div>
            <div id="img">
                <img src="~/images/image_04.jpg" alt="desk space">
            </div>
        </div>
        <div class="content-box">
            <div id="img">
                <img src="/images/image_10.jpg" alt="community space">
            </div>
            <div class="text-box">
                <div class="inner-text">
                    <h3>Dedicated space for your team</h3>
                    <p class="p1">
                        Reduce the risk to your organisation by securing an alternative safe work environment for a parallel work team.
                    </p>
                    <p class="p2">
                        Geographic separation of teams ensures continuity in case you need to close your City office again.
                        We can provide a work environment that is ideal for teams of up to 150 people.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">

    <div class="inner-left" id="teaser1">
        <div class="inner-content left-affect" id="inner-top">
            <h3>
                Single Desk</h5>
                <div id="teaser-text">
                    <p><i class="fa fa-star"></i>A dedicated personal oversize desk of your own</p>
                    <p><i class="fa fa-star"></i>Quality and reliable high-speed internet</p>
                    <p><i class="fa fa-star"></i>All hour easy access</p>
                    <p><i class="fa fa-star"></i>Open space</p>
                    <p><i class="fa fa-star"></i>145 workstations.</p>
                </div>
                <a href=''>Enquire</a>
        </div>
        <h4>New dedicated desk only</h4>
    </div>

    <div class="inner-right" id="teaser2">
        <div class="inner-content right-affect" id="inner-mid">
            <h3>
                Meeting Room</h5>
                <div id="teaser-text">
                    <p><i class="fa fa-star"></i>Fully fitted and furnished</p>
                    <p><i class="fa fa-star"></i>Beautiful kitchen and meeting rooms</p>
                    <p><i class="fa fa-star"></i>On site Café and sports bar</p>
                    <p><i class="fa fa-star"></i>Lots of Free Parking</p>
                    <p><i class="fa fa-star"></i>7 meeting/quiet rooms</p>
                </div>
                <a href=''>Enquire</a>
        </div>
        <h4>Large single levelspace 2200M2</h4>
    </div>

    <div class="inner-left .sm-img.area" id="teaser3">
        <div class="inner-content left-affect" id="inner-bot">
            <h3>
                Conference Room</h5>
                <div id="teaser-text">
                    <p><i class="fa fa-star"></i>Boardroom</p>
                    <p><i class="fa fa-star"></i>Training room</p>
                    <p><i class="fa fa-star"></i>Multiple utility areas</p>
                    <p><i class="fa fa-star"></i>Lots of Free Parking</p>
                    <p><i class="fa fa-star"></i>Regular cleaning in accordance with WA health recommendations</p>
                </div>
                <a href=''>Enquire</a>
        </div>
        <h4>Superb Value for teams and individuals</h4>
    </div>

</div>

<section class="inclusive-section">
    <div class="inclusive-container">
        <div id="divider"></div>
        <h1>All Inclusive</h1>
        <div id="divider"></div>
        <div class="inc-content">
            <p><i class="fa fa-check-circle"></i>Reception area</p>
            <p><i class="fa fa-check-circle"></i>Common breakout/dining area</p>
            <p><i class="fa fa-check-circle"></i>On site Café and sports bar</p>
            <p><i class="fa fa-check-circle"></i>Store rooms</p>
            <p><i class="fa fa-check-circle"></i>Multiple utility areas</p>
            <p><i class="fa fa-check-circle"></i>Secure and reliable high-speed internet</p>
            <p><i class="fa fa-check-circle"></i>IT room</p>
            <p><i class="fa fa-check-circle"></i>Shower and lockers</p>
            <p><i class="fa fa-check-circle"></i>Ample Parking</p>
            <p><i class="fa fa-check-circle"></i>Pay only for what you need</p>
            <p><i class="fa fa-check-circle"></i>Regular Calendar Networking Events</p>
            <p><i class="fa fa-check-circle"></i>Regular cleaning in accordance with WA health recommendations</p>
        </div>
    </div>
</section>

<section class="getstarted">
    <div class="getstarted-container">
        <div class="start-box">
            <div id="divider"></div>
            <h1>LET'S GET STARTED</h1>
            <div id="divider"></div>
            <h3>Want to learn more?</h3>
            <p>Contact Us for more details</p>
            <a class="enquire-btn" href=''>Contact</a>
        </div>
    </div>
</section>

<section class="section-divider"></section>





