@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/swiper.min.css">
<script src="~/js/swiper.min.js"></script>
<div class="swiper-container">
    <div class="hero">
        <div class="swiper-container-hero">
            <div class="swiper-wrapper">


                <div class="swiper-slide">
                    <div class="slide-four hero-slide"></div>
                    <div class="swiper-content">
                        <h1>Join the CoWork Community</h1>
                        <span>We're a Covid-Safe workspace</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-one hero-slide"></div>
                    <div class="swiper-content">
                        <h1>Join the CoWork Community</h1>
                        <span>We're a Covid-Safe workspace</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-two hero-slide"></div>
                    <div class="swiper-content">
                        <h1>Join the CoWork Community</h1>
                        <span>We're a Covid-Safe workspace</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-three hero-slide"></div>
                    <div class="swiper-content">
                        <h1>Join the CoWork Community</h1>
                        <span>We're a Covid-Safe workspace</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="pagination-align">
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="our-space">

        <div class="space-box">
            <img src="/icons/icons8-housekeeping-100.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
                similique ipsa natus minus consequatur nihil maxime
            </p>
        </div>

        <div class="space-box">
            <img src="/icons/icons8-garage-door-100.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
                similique ipsa natus minus consequatur nihil maxime
            </p>
        </div>

        <div class="space-box">
            <img src="/icons/icons8-home-office-100.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
                similique ipsa natus minus consequatur nihil maxime
            </p>
        </div>

        <div class="space-box">
            <img src="/icons/icons8-last-24-hours-100.png">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nobis, praesentium quae labore
                similique ipsa natus minus consequatur nihil maxime
            </p>
        </div>

    </div>


    <div class="container">

        <div class="inner-left" id="teaser1">
            <div class="inner-content left-affect" id="inner-top">
                <h3>Single Desk</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit iubsdi dsf df. Fugit, officiis distinctio!
                    Temporefugit a laboriosam quod suscipit labore, porro reprehenderit eius....
                </p>
                <a onclick="contactToggle()">Enquire</a>
            </div>
            <h4>New dedicated desk only</h4>
        </div>

        <div class="inner-right" id="teaser2">
            <div class="inner-content right-affect" id="inner-mid">
                <h3>Meeting Room</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit iubsdi dsf df. Fugit, officiis distinctio!
                    Temporefugit a laboriosam quod suscipit labore, porro reprehenderit eius....
                </p>
                <a onclick="contactToggle()">Enquire</a>
            </div>
            <h4>Large single levelspace 2200M2</h4>
        </div>

        <div class="inner-left .sm-img.area" id="teaser3">
            <div class="inner-content left-affect" id="inner-bot">
                <h3>Conference Room</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit iubsdi dsf df. Fugit, officiis distinctio!
                    Temporefugit a laboriosam quod suscipit labore, porro reprehenderit eius....
                </p>
                <a onclick="contactToggle()">Enquire</a>
            </div>
            <h4>Superb Value for teams and individuals</h4>
        </div>

    </div>
    </div>


    <script src="~/js/swiper-init.js"></script>


