



<div id="contact-tab">

    <form id="contactForm" class="formStyles" action="">
        <h2>Want to learn more?</h2>
        <span>We'd love to hear from you.</span>
        <span>Please fill out the form below. A member of our team will be in contact.</span>
        <input type="text" id="fullname" name="fullname" placeholder="Full Name" required>
        <input type="email" id="email" name="email" placeholder="E-mail" required>
        <input type="number" id="phone-number" name="phone-number" placeholder="Mobile" required>
        <textarea name="comments" id="contact-comments" cols="53" rows="10" placeholder="Comments"></textarea>
        <input type="submit" id="contact-submit" value="Enquire now">
    </form>


    <div class="info-box">
        <span>8am - 5pm</span>
        <span>Monday to Friday</span>
    </div>
    <div id="infoBox2" class="info-box">
        <span>(08) 6197 3220</span>
        <span>454 Scarborough Beach Road</span>
        <span>Osborne Park WA 6017</span>
    </div>


    <div class="map-box">
        <h2>Come take a tour with us today!</h2>
        <div id="googleMap">
        </div>
    </div>
</div>