
<footer>
    <div class="lg-footer">

        <div class="about-box">
            <div class="about-footer">
                <img src="/images/CoWork454 Logo esign.png" alt="">
                <p>
                    454 Scarborough Beach Rd, <br> Osborne Park,
                    WA 6017
                </p>
                <a href="">TERMS AND CONDITIONS</a>
                <a onclick="contactToggle()">CONTACT US</a>
                <a>(08) 6197 3220</a>
            </div>
        </div>

        <div class="sitemap-footer">

            <ul class="sitemap-footer-links">
                <h6 class="foot-heading">Sitemap</h6>
                <a href="">Home</a>
                <a href="">Spaces</a>
                <a href="">Bookings</a>
                <a href="">Blog</a>
                <a href="">Contact</a>
            </ul>

        </div>

        <div class="sitemap-footer">
            <ul class="sitemap-footer-links">
                <h6 class="foot-heading">Follow Us</h6>
                <a href="">Twitter</a>
                <a href="">LinkdIn</a>
                <a href="">Facebook</a>
                <a href="">YouTube</a>
            </ul>

        </div>

        <div class="newsletter-footer">

            <form method="post" action="/newsletter/Index">
                <h6 class="sub-form-header">Weekly Newsletter</h6>
                <input type="text" name="fullname" id="firstName"
                       placeholder="Name">
                <input type="email" name="Email" id="Email" placeholder="Your Email">
                <input type="submit" id="subscribe-btn" value="Subscribe">
            </form>

        </div>
    </div>

    <div class="copyright">
        <span><i class="far fa-copyright"></i> All rights reserved by CoWork 454 2020</span>
        <span>A Codemaster Team-1 Creation <i class="fas fa-hands-wash"></i></span>
    </div>
</footer>