<script src="~/js/swiper.min.js"></script>

<div class="swiper-container">
    <div class="hero">
        <div class="swiper-container-hero">
            <div class="swiper-wrapper">


                <div class="swiper-slide">
                    <div class="slide-four hero-slide"></div>
                    <div class="swiper-content">
                        <h1>Join the CoWork Community</h1>
                        <span id="hero-addr">454 Scarborough Beach Road</span>
                        <span>We're a Covid-Safe workspace</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-one hero-slide"></div>
                    <div class="swiper-content">
                        <h1>Join the CoWork Community</h1>
                        <span id="hero-addr">454 Scarborough Beach Road</span>
                        <span>We're a Covid-Safe workspace</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-two hero-slide"></div>
                    <div class="swiper-content">
                        <h1>Join the CoWork Community</h1>
                        <span id="hero-addr">454 Scarborough Beach Road</span>
                        <span>We're a Covid-Safe workspace</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-three hero-slide"></div>
                    <div class="swiper-content">
                        <h1>Join the CoWork Community</h1>
                        <span id="hero-addr">454 Scarborough Beach Road</span>
                        <span>We're a Covid-Safe workspace</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="pagination-align">
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<script src="~/js/swiper-init.js"></script>