@using CoWork454.Models
@{
    var user = (User)ViewData["User"];
}

@if (user == null)
{
    <div id="loginMobileBtn" class="members-login">
        <a onclick="loginToggle()">Login</a>
        <a onclick="signUpToggle()">Sign-up</a>
    </div>

}
else
{
    <div id="loginMobileBtn" class="members-login">
        <a href="@Url.Action("Login","Login")">My Account </a>
        <a href="@Url.Action("Logout","Login")">Log Off</a>
    </div>

}