@using CoWork454.Models
@{
    var user = (User)ViewData["User"];
}

@if (user == null)
{
    <div class="members-login">
        <a onclick="loginToggle()">Login</a>
        <a onclick="signUpToggle()">Sign-up</a>
    </div>
}
else
{
    <div class="members-login">
        <a onclick="loginToggle()">Hi @user.FirstName </a>
        <a onclick="signUpToggle()">Log Off</a>
    </div>
}